# The Tech Lead owns the SCM Plan itself 
README.md       juniorjimmy13
 
# The Database Team owns all SQL files 
*.sql           juniorjimmy13
 
# The Frontend Team owns all Javascript 
*.js            juniorjimmy13
